.task-container {
  display: flex;
  flex-flow: column;
  justify-content: center;
  width: 50vw;
  margin-top: 10rem;
  .list-group {
    margin: 16px 0;
    .list-group-item {
      display: flex;
      flex-flow: row wrap;
      justify-content: space-between;
      align-items: center;
      .task-info {
        display: flex;
        flex-flow: row wrap;
        align-items: center;
        justify-content: space-between;
      }
      .badge {
        cursor: pointer;
        height: 20px;
      }
    }
  }
  .add-task-form{
      display: flex;
      flex-flow: row nowrap;
      justify-content: space-between;
      align-items: center;
      .btn{
          height: 50px;
          width: 180px;
      }
  }
}
