@import "bootstrap/dist/css/bootstrap.min.css";
.App {
  box-sizing: border-box;
  .navbar {
    background-color: rgba(0, 0, 0, 0.05);;
    border-top: 1px solid rgba(0, 0, 0, 0.15);
  }
  .content-wrapper{
    margin-top: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
      .bolder{
      font-weight: bolder;
      margin-right: 8px;
    }
    .delete{
     color:#0d6efd;
     cursor: pointer;
     margin-left: 8px;
    }
}